.subject{
    width: 90%;
    height: 5%;
    background-color: #bbbbbb;
}
.chapter{
    width: 80%;
    height: 5%;
    background-color: #bbbbbb;
}
.lesson{
    width: 70%;
    height: 5%;
    background-color: #bbbbbb;
}
.subject, .chapter, .lesson{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.selected{
    background-color: #eeeeee;
}