#mainArticle {
    overflow: hidden;
}
#page{
    position: relative;
    margin: auto;
    padding: 20px;
    overflow: auto;
    background-color: #d9d9d9;
    border: 1px solid black;
    border-radius: 20px;
}
#settings{
    background-color: #9eff00;
}

#settings:hover{
    background-color: #9eff00;
    cursor: default;
}
#theme > img{
    height: 50px;
    width: 50px;
}
#selected-theme{
    background-color: #ffffff;
}